body {
    font-family: "Roboto", sans-serif;
    color: var(--dark-color);
    background-color: var(--white-color);
}

:root {
    --title-color: #2e2f42;
    --first-main-color: #4d5ae5;
    --second-main-color: #404bbf;
    --ghostWhite-color: #f4f4fd;
    --tipical-line-height: 1.5;
    --dark-color: #434455;
    --white-color: #ffffff;

}

.link {
    text-decoration: none;
}

.address {
    font-style: normal;
}

.list {
    list-style: none;
}

.button {
    cursor: pointer;
}

/* Header */
.logo-link {
    font-family: 'Raleway';
    font-weight: 800;
    font-size: 18px;
    line-height: 21px;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--first-main-color);
}

.span-header {
    color: var(--title-color);
}

.span-footer {
    color: var(--ghostWhite-color);
}


.nav-list {}

.nav-item {}

.nav-link {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--title-color);
}


.address-list {}

.adress-list-item {}

.address-link {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--dark-color);
}

/* Main */
/* Section 0 */
.hero {
    background-color: var(--title-color);
}

.hero-title {
    font-size: 56px;
    line-height: 1.07;
    letter-spacing: 0.02em;
    color: var(--white-color);
}

.hero-button {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: var(--white-color);
    background-color: var(--first-main-color);
}

.hero-button:hover,
.hero-button:focus {
    background-color: var(--second-main-color);
}

/* Section 1 */
.feature {}

.hidden-title {}

.feature-list {}

.feature-list-item {}

.feature-title {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: var(--title-color);
}

.feature-text {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--dark-color);
}